[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagshub = "*"
numpy = "*"
pandas = "*"
sci-kit = "*"
learn = "*"
mlflow = "*"
seaborn = "*"
openpyxl = "*"
dvc = {extras = ["s3"], version = "*"}
awscli = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
